DEBUG=0
SECRET_KEY=django-insecure-6=^x!01d8))*cee$g#v2ya4p3he*6sy33lgo6c2t=ni1bv9fr#
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql_psycopg2
SQL_DATABASE=postgres
SQL_USER=postgres
SQL_PASSWORD=postgres
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
