{%extends "./base.html"%} 
{% block content%} 
    {% load static %} 
    {% comment %} load static junk here {% endcomment %}
    {% load crispy_forms_tags%}
<div class"row-col-md-12" style="padding-bottom: 10px">
    <form method="post">
        {% csrf_token %} 
        <input type="submit" class="btn btn-primary" value="submit">
    </form>
</div>
<div class="row">
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary"> {{form_result}} </li>
        <li class="list-group-item"> {{celery_result}}</li>
    </ul>
</div>

{% endblock content %}
